# Your Year in Finance Wrapped

> A spoof off of [Spotify's Wrapped](https://www.spotify.com/us/wrapped/) for your year in finance

## Topics

* Your biggest purchase
* Place your shopped the most
* Place you spent the most money
* Place you got paid the most money
* Category you spent the most money
* Category you spent the most times
* Plot number of transactions per month
* Plot number of transactions per day of week

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./data.csv')

In [8]:
data.head()

,Date,Account,Description,Category,Tags,Amount
0,2019-12-07,Venmo Bank Account,Jpmorgan,Transfers,NaN,-48.44
1,2019-12-06,Credit Card - Ending in 7308,Lyft,Travel,NaN,-56.04
2,2019-12-06,Credit Card - Ending in 7308,Sanctuary Coffee,Restaurants,NaN,-10.40
3,2019-12-06,Credit Card - Ending in 7347,Amazon Prime,Groceries,NaN,-14.29
4,2019-12-06,Credit Card - Ending in 7347,Primenowmktp*qn86k7if3,Clothing/Shoes,NaN,-24.87

## Biggest Purchase

In [13]:
# Purchases are negative so to find the highest expense we need to find the smallest amount
data.iloc[data['Amount'].idxmin()]

Date                                                  2019-08-23
Account        John Pham - Traditional Ira Brokerage Account ...
Description    Vanguard 500 Index Admiral Cl-conversion (outg...
Category                                               Transfers
Tags                                                         NaN
Amount                                                  -9254.91
Name: 611, dtype: object

In [16]:
data.nsmallest(20, ['Amount'])

,Date,Account,Description,Category,Tags,Amount
611,2019-08-23,John Pham - Traditional Ira Brokerage Account ...,Vanguard 500 Index Admiral Cl-conversion (outg...,Transfers,NaN,-9254.91
1363,2019-04-17,Chase College - Ending in 9617,Chase Credit Card Online Payments,Credit Card Payments,NaN,-6651.20
1221,2019-05-17,Chase College - Ending in 9617,Chase Bank,Credit Card Payments,NaN,-6595.12
1679,2019-02-06,Chase College - Ending in 9617,Vanguard's Investment,Transfers,NaN,-6000.00
743,2019-08-05,Chase College - Ending in 9617,Chase,Credit Card Payments,NaN,-5912.50
1686,2019-02-05,John Pham - Traditional Ira Brokerage Account ...,Vanguard 500 Index Admiral Cl-buy (exchange),Securities Trades,NaN,-5796.38
745,2019-08-05,Chase College - Ending in 9617,Chase,Credit Card Payments,NaN,-5590.56
1787,2019-01-07,John Pham - Traditional Ira Brokerage Account ...,Vanguard High Dividend Yield Index Investor Cl...,Securities Trades,NaN,-5503.75
1250,2019-05-13,Chase College - Ending in 9617,Vanguard's Investment,Transfers,NaN,-4000.00
1535,2019-03-11,Chase College - Ending in 9617,Vanguard's Investment,Transfers,NaN,-4000.00
1626,2019-02-19,Chase College - Ending in 9617,Chase Credit Card Online Payments,Credit Card Payments,NaN,-3500.21
490,2019-09-04,Chase College - Ending in 9617,Navient Corporation,Loans,NaN,-3500.00
612,2019-08-23,John Pham - Traditional Ira Brokerage Account ...,Vanguard Real Estate Index Admiral Cl-conversi...,Transfers,NaN,-3295.38
309,2019-10-02,Chase College - Ending in 9617,W A,Credit Card Payments,NaN,-3252.67
1230,2019-05-16,John Pham - Brokerage Account - Ending in 7686,Vanguard Total Stock Market Index Admiral Cl-buy,Securities Trades,NaN,-3181.83
498,2019-09-03,Chase College - Ending in 9617,W A,Credit Card Payments,NaN,-3179.55
795,2019-07-30,Chase College - Ending in 9617,Wax31 - Ava Este Web Pmts Z89m1c Web Id: Xxxxx...,Other Expenses,NaN,-3161.00
875,2019-07-17,Chase College - Ending in 9617,Chase Credit Card Online Payments,Credit Card Payments,NaN,-3050.26
1661,2019-02-08,John Pham - Traditional Ira Brokerage Account ...,Vanguard Real Estate Index Admiral Cl-buy,Securities Trades,NaN,-3008.07
1663,2019-02-08,John Pham - Traditional Ira Brokerage Account ...,Vanguard Federal Money Market Fund (settlement...,Transfers,NaN,-3006.19